#navbar {
    font-size: large;
}

.navbar-nav > li{
    padding-left:15px;
    padding-right:15px;
  }

#banner {
    min-width: 100%;
    max-height: 600px;
    object-fit: cover;
}

p {
    text-align: justify;
}

#footer {
    color: rgba(255, 255, 255, 1);
    font-size: small;
}

.nav-link-active {
    color: red;
}

.nav-link:hover {
    color: red;
}

#socialIcon {
    padding-right: 25px;
    max-height: 40px;
}